.border {
    border: 1px solid #eeeeee;
}
* {
    margin: 0;
    padding: 0;
}
.fenye{
    padding: 15px 20px;
    text-align: left;
    color: #ccc;
    position: absolute;
    right:10px;
}
.fenye a{
    display: inline-block;
    color: #428bca;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}
.fenye a:hover{
    text-decoration: none;
    border: 1px solid #428bca;}
.fenye span.current{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}
.fenye span.disabled{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #eee;
}
/*.sidebar {*/
    /*width: 255px;*/
    /*height: 500px;*/
    /*background-color: #eee;*/
    /*float: left;*/
/*}*/
.main {
    margin-left: 255px;
    padding: 20px;
}
.main-nav {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #eee;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}
.main-content {
    border: 1px solid #eeeeee;
    padding: 20px;
}
table {
    text-align: center;
}
.container-btn button {
    width: 100px;
    height: 37px;
}
.panel-heading i {
    float: right;
}
#myTab {
    height: 42px;
}
.tab-content {
    width: 80%;
    margin: 0 auto;
}
.tab-content table {
    border-bottom: 1px solid #eeeeee;
}
.tab-content table > tbody > tr > td {
    border-top: 1px solid white;
    text-align: left;
}
#check{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
#form{
    display: none;
    width: 500px;
}
.elegant-aero {
    max-width: 500px;
    background: #D2E9FF;
    padding: 20px 20px 20px 20px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}
.elegant-aero h1 {
    font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    display: block;
    background: #C0E1FF;
    border-bottom: 1px solid #B8DDFF;
    margin: -20px -20px 15px;
}
.elegant-aero h1>span {
    display: block;
    font-size: 11px;
}
.elegant-aero label>span {
    float: left;
    margin-top: 10px;
    color: #5E5E5E;
}
.elegant-aero label {
    display: block;
    margin: 0px 0px 5px;
}
.elegant-aero label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 15px;
    margin-top: 10px;
    font-weight: bold;
}
.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {
    color: #888;
    width: 70%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
.elegant-aero textarea{
    resize: none;
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;

}
.elegant-aero select {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
}
.button2{
    padding: 10px 30px 10px 30px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
}
.elegant-aero .button2:hover{
    background: #3EB1DD;
}
.button-design {
    width: 90px;
    background-color: #428bca;
    color: white;
    font-size: 1.4rem;
    border: 1px solid #e6e6e6;
}